# JSON Intro

In this notebook we'll explore the JSON data format and the available helper methods in Python and Pandas that will help us deal with JSON strings and files.
To recap what JSON is you can always refer to the offical documentation that can be found at https://www.json.org/

A quick example JSON looks something like:

```
{
   "first-name": "Jason",
   "last-name": "Bourne",
   "age": 32,
   "cities": ["London", "Beirut", "Paris"],  
   "last-activity": "2018-10-115T13:15:33Z"
}
```

## Simple JSON manipulation with Python

### First look at JSON documents

To get started, let's look at a more complex JSON file, which we obtained via the Yahoo Weather API ( https://developer.yahoo.com/weather/ )

* Open the 'data/weather_forecast.json' file using the Python built-in 'open' method, and save the results into a variable called 'weather_forecast_json'
* print the contents of weather_forecast_json and look at the structure

In [10]:
with open('weather_forecast.json', 'r') as f:
  weather_forecast_json = f.read()

print(weather_forecast_json)
#type(weather_forecast_json)

{
 "query": {
  "count": 1,
  "created": "2018-10-19T12:39:05Z",
  "lang": "en-US",
  "results": {
   "channel": {
    "units": {
     "distance": "mi",
     "pressure": "in",
     "speed": "mph",
     "temperature": "F"
    },
    "title": "Yahoo! Weather - Nome, AK, US",
    "link": "http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-2460286/",
    "description": "Yahoo! Weather for Nome, AK, US",
    "language": "en-us",
    "lastBuildDate": "Fri, 19 Oct 2018 04:39 AM AKDT",
    "ttl": "60",
    "location": {
     "city": "Nome",
     "country": "United States",
     "region": " AK"
    },
    "wind": {
     "chill": "32",
     "direction": "45",
     "speed": "15"
    },
    "atmosphere": {
     "humidity": "85",
     "pressure": "1004.0",
     "rising": "0",
     "visibility": "16.1"
    },
    "astronomy": {
     "sunrise": "10:5 am",
     "sunset": "7:26 pm"
    },
    "image": {
     "title": "Yahoo! Weather",
     "width": "142",
     "height": "18",
     "link": "http://weather.yahoo.com",
     "url": "http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif"
    },
    "item": {
     "title": "Conditions for Nome, AK, US at 03:00 AM AKDT",
     "lat": "64.499474",
     "long": "-165.405792",
     "link": "http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-2460286/",
     "pubDate": "Fri, 19 Oct 2018 03:00 AM AKDT",
     "condition": {
      "code": "27",
      "date": "Fri, 19 Oct 2018 03:00 AM AKDT",
      "temp": "38",
      "text": "Mostly Cloudy"
     },
     "forecast": [
      {
       "code": "30",
       "date": "19 Oct 2018",
       "day": "Fri",
       "high": "44",
       "low": "36",
       "text": "Partly Cloudy"
      },
      {
       "code": "34",
       "date": "20 Oct 2018",
       "day": "Sat",
       "high": "39",
       "low": "32",
       "text": "Mostly Sunny"
      },
      {
       "code": "34",
       "date": "21 Oct 2018",
       "day": "Sun",
       "high": "37",
       "low": "31",
       "text": "Mostly Sunny"
      },
      {
       "code": "30",
       "date": "22 Oct 2018",
       "day": "Mon",
       "high": "37",
       "low": "32",
       "text": "Partly Cloudy"
      },
      {
       "code": "30",
       "date": "23 Oct 2018",
       "day": "Tue",
       "high": "39",
       "low": "34",
       "text": "Partly Cloudy"
      },
      {
       "code": "28",
       "date": "24 Oct 2018",
       "day": "Wed",
       "high": "40",
       "low": "35",
       "text": "Mostly Cloudy"
      },
      {
       "code": "28",
       "date": "25 Oct 2018",
       "day": "Thu",
       "high": "39",
       "low": "35",
       "text": "Mostly Cloudy"
      },
      {
       "code": "28",
       "date": "26 Oct 2018",
       "day": "Fri",
       "high": "36",
       "low": "34",
       "text": "Mostly Cloudy"
      },
      {
       "code": "30",
       "date": "27 Oct 2018",
       "day": "Sat",
       "high": "35",
       "low": "28",
       "text": "Partly Cloudy"
      },
      {
       "code": "30",
       "date": "28 Oct 2018",
       "day": "Sun",
       "high": "29",
       "low": "26",
       "text": "Partly Cloudy"
      }
     ],
     "description": "<![CDATA[<img src=\"http://l.yimg.com/a/i/us/we/52/27.gif\"/>\n<BR />\n<b>Current Conditions:</b>\n<BR />Mostly Cloudy\n<BR />\n<BR />\n<b>Forecast:</b>\n<BR /> Fri - Partly Cloudy. High: 44Low: 36\n<BR /> Sat - Mostly Sunny. High: 39Low: 32\n<BR /> Sun - Mostly Sunny. High: 37Low: 31\n<BR /> Mon - Partly Cloudy. High: 37Low: 32\n<BR /> Tue - Partly Cloudy. High: 39Low: 34\n<BR />\n<BR />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-2460286/\">Full Forecast at Yahoo! Weather</a>\n<BR />\n<BR />\n<BR />\n]]>",
     "guid": {
      "isPermaLink": "false"
     }
    }
   }
  }
 }
}

### Exercise: Getting simple attributes out of a JSON document

* Look at the documentation for the Python JSON module ( https://docs.python.org/3/library/json.html ) 
* Make the necessary imports
* access the temperature unit in the document and print it out

In [4]:
import json

weather_forecast = json.loads(weather_forecast_json)

# Access the temperature unit
temperature_unit = weather_forecast['query']['results']['channel']['units']['temperature']
print(temperature_unit)

F

### Exercise: Getting more complex outputs from a JSON document

* Now let's do something more interesting!
* We would like to see all of the forecast texts as a list of strings
* For an elegant solution you can look at the map() function in the core Python library (https://docs.python.org/3/library/functions.html#map)
* Our expected output is
```
['Partly Cloudy', 'Mostly Sunny', 'Mostly Sunny', 'Partly Cloudy', 'Partly Cloudy', 'Mostly Cloudy', 'Mostly Cloudy', 'Mostly Cloudy', 'Partly Cloudy', 'Partly Cloudy']
```

In [5]:
forecasts = weather_forecast['query']['results']['channel']['item']['forecast']
print(forecasts)

[{'code': '30', 'date': '19 Oct 2018', 'day': 'Fri', 'high': '44', 'low': '36', 'text': 'Partly Cloudy'}, {'code': '34', 'date': '20 Oct 2018', 'day': 'Sat', 'high': '39', 'low': '32', 'text': 'Mostly Sunny'}, {'code': '34', 'date': '21 Oct 2018', 'day': 'Sun', 'high': '37', 'low': '31', 'text': 'Mostly Sunny'}, {'code': '30', 'date': '22 Oct 2018', 'day': 'Mon', 'high': '37', 'low': '32', 'text': 'Partly Cloudy'}, {'code': '30', 'date': '23 Oct 2018', 'day': 'Tue', 'high': '39', 'low': '34', 'text': 'Partly Cloudy'}, {'code': '28', 'date': '24 Oct 2018', 'day': 'Wed', 'high': '40', 'low': '35', 'text': 'Mostly Cloudy'}, {'code': '28', 'date': '25 Oct 2018', 'day': 'Thu', 'high': '39', 'low': '35', 'text': 'Mostly Cloudy'}, {'code': '28', 'date': '26 Oct 2018', 'day': 'Fri', 'high': '36', 'low': '34', 'text': 'Mostly Cloudy'}, {'code': '30', 'date': '27 Oct 2018', 'day': 'Sat', 'high': '35', 'low': '28', 'text': 'Partly Cloudy'}, {'code': '30', 'date': '28 Oct 2018', 'day': 'Sun', 'high': '29', 'low': '26', 'text': 'Partly Cloudy'}]

In [ ]:
forecast_text .............

In [6]:
forecast_texts = list(map(lambda x: x['text'], forecasts))
print(forecast_texts)

['Partly Cloudy', 'Mostly Sunny', 'Mostly Sunny', 'Partly Cloudy', 'Partly Cloudy', 'Mostly Cloudy', 'Mostly Cloudy', 'Mostly Cloudy', 'Partly Cloudy', 'Partly Cloudy']

### Exercise: Writing JSON documents

* Let's assume we'd like to send a system a JSON response to a client, which looks like this:
```
{
    'paymentid': '35dfc21c-35b7-4459-a65c-284fcb03d57a',
    'type': 'p2p',
    'amount': 45000.0,
    'currency': 'GBP',
    'sender': 'batman@waynecorp.com',
    'beneficiary': 'catwoman@gmail.com'
}
```
* create the JSON document _without_ using string manipulations, or writing the whole JSON document as one string
* print out the JSON document 
* hint: you can use a simple Python dict and the dumps method from the json module

In [18]:
import json

payment_dict = {'paymentid': '35dfc21c-35b7-4459-a65c-284fcb03d57a', 
  'type': 'p2p', 
  'amount': 45000.0,
  'currency': 'GBP',
  'sender': 'batman@waynecorp.com',
  'beneficiary': 'catwoman@gmail.com'}

print('The type of our pre-dump document is: ', type(payment_dict))


print(payment_dict) ################################################ SINGLE QUOTES!!!

payment_json = json.dumps(payment_dict)

print('The type of our document after conversion is', type(payment_json))

print(payment_json) ####################################### JSON NEEDS TO HAVE DOUBLE QUOTES!!!!

The type of our pre-dump document is:  <class 'dict'>
{'paymentid': '35dfc21c-35b7-4459-a65c-284fcb03d57a', 'type': 'p2p', 'amount': 45000.0, 'currency': 'GBP', 'sender': 'batman@waynecorp.com', 'beneficiary': 'catwoman@gmail.com'}
The type of our document after conversion is <class 'str'>
{"paymentid": "35dfc21c-35b7-4459-a65c-284fcb03d57a", "type": "p2p", "amount": 45000.0, "currency": "GBP", "sender": "batman@waynecorp.com", "beneficiary": "catwoman@gmail.com"}

## Working with JSON using Pandas

Pandas simplifies working with JSON documents a breeze. We'll be looking at 2 common uses cases to demonstrate that.

### Exercise: Loading a pure JSON dataset

In 'data/population2010.json' you'll find a dataset in pure JSON format.
* Open it up with your text-editor-of-choice and examine the format
* Use the read_json method in pandas (https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_json.html) to read the contents into a dataframe called 'population_2010_df'
* Print the shape and head of the datarame

In [8]:
import pandas as pd
population_2010_df = pd.read_json('data/population2010.json')
print('Shape: ', population_2010_df.shape)
population_2010_df.head()

Shape:  (101, 6)

   females        country  age    males  year    total
0  1966000  United States    0  2054000  2010  4019000
1  1973000  United States    1  2056000  2010  4030000
2  1979000  United States    2  2059000  2010  4038000
3  1983000  United States    3  2061000  2010  4043000
4  1985000  United States    4  2063000  2010  4048000

In [9]:
population_2010_df

     females        country  age    males  year    total
0    1966000  United States    0  2054000  2010  4019000
1    1973000  United States    1  2056000  2010  4030000
2    1979000  United States    2  2059000  2010  4038000
3    1983000  United States    3  2061000  2010  4043000
4    1985000  United States    4  2063000  2010  4048000
..       ...            ...  ...      ...   ...      ...
96     72700  United States   96    22700  2010    95400
97     50300  United States   97    14500  2010    64800
98     35000  United States   98     8730  2010    43700
99     25200  United States   99     4920  2010    30100
100    51200  United States  100     9570  2010    60800

[101 rows x 6 columns]

### Saving a pure JSON dataset

The data folder (as you have probably seen) contains multiple files with a similar name:
* population1970.json
* population1980.json
* population1990.json
* population2000.json
* population2010.json

We would like to unify these datasets with pandas (so it's super simple :) )
To do that, you'll need to 
* load all of these files into seperate datafames
* union them (find the right pandas method to do that!)
* and then use the pandas 'to_json' method to save the combined dataframe to a file (please use orient='records')
* open the result text file using your text editor and examine the results

In [10]:
years = ['1970','1980','1990','2000','2010']
dataframes = list(map(lambda year: pd.read_json('data/population{}.json'.format(year)), years))

In [11]:
dataframes

[     females        country  age    males  year    total
 0    1567000  United States    0  1667000  1970  3234000
 1    1660000  United States    1  1737000  1970  3397000
 2    1742000  United States    2  1805000  1970  3547000
 3    1815000  United States    3  1869000  1970  3683000
 4    1878000  United States    4  1928000  1970  3806000
 ..       ...            ...  ...      ...   ...      ...
 96      4600  United States   96     4630  1970     4610
 97      3460  United States   97     3480  1970     3470
 98      2210  United States   98     2230  1970     2220
 99      1020  United States   99     1020  1970     1020
 100     1710  United States  100     1720  1970     1710

 [101 rows x 6 columns],
      females        country  age    males  year    total
 0    1652000  United States    0  1780000  1980  3432000
 1    1624000  United States    1  1734000  1980  3358000
 2    1605000  United States    2  1703000  1980  3307000
 3    1593000  United States    3  1685000  1980  3278000
 4    1589000  United States    4  1680000  1980  3269000
 ..       ...            ...  ...      ...   ...      ...
 96      7780  United States   96     7440  1980     7670
 97      5380  United States   97     5150  1980     5310
 98      3350  United States   98     3200  1980     3300
 99      1720  United States   99     1640  1980     1700
 100     3090  United States  100     2960  1980     3050

 [101 rows x 6 columns],
      females        country  age    males  year    total
 0    1858000  United States    0  1968000  1990  3826000
 1    1858000  United States    1  1955000  1990  3813000
 2    1852000  United States    2  1941000  1990  3793000
 3    1842000  United States    3  1924000  1990  3766000
 4    1828000  United States    4  1907000  1990  3735000
 ..       ...            ...  ...      ...   ...      ...
 96     43900  United States   96    11400  1990    55200
 97     32500  United States   97     9680  1990    42200
 98     23400  United States   98     7100  1990    30500
 99     16200  United States   99     4170  1990    20400
 100    26000  United States  100     6110  1990    32100

 [101 rows x 6 columns],
      females        country  age    males  year    total
 0    1808000  United States    0  1890000  2000  3698000
 1    1850000  United States    1  1935000  2000  3786000
 2    1886000  United States    2  1975000  2000  3861000
 3    1917000  United States    3  2008000  2000  3925000
 4    1942000  United States    4  2036000  2000  3978000
 ..       ...            ...  ...      ...   ...      ...
 96     56000  United States   96    15200  2000    71200
 97     36600  United States   97    10900  2000    47400
 98     24500  United States   98     7110  2000    31600
 99     17700  United States   99     4030  2000    21800
 100    39100  United States  100     6490  2000    45600

 [101 rows x 6 columns],
      females        country  age    males  year    total
 0    1966000  United States    0  2054000  2010  4019000
 1    1973000  United States    1  2056000  2010  4030000
 2    1979000  United States    2  2059000  2010  4038000
 3    1983000  United States    3  2061000  2010  4043000
 4    1985000  United States    4  2063000  2010  4048000
 ..       ...            ...  ...      ...   ...      ...
 96     72700  United States   96    22700  2010    95400
 97     50300  United States   97    14500  2010    64800
 98     35000  United States   98     8730  2010    43700
 99     25200  United States   99     4920  2010    30100
 100    51200  United States  100     9570  2010    60800

 [101 rows x 6 columns]]

In [12]:
combined = pd.concat(dataframes)
combined

     females        country  age    males  year    total
0    1567000  United States    0  1667000  1970  3234000
1    1660000  United States    1  1737000  1970  3397000
2    1742000  United States    2  1805000  1970  3547000
3    1815000  United States    3  1869000  1970  3683000
4    1878000  United States    4  1928000  1970  3806000
..       ...            ...  ...      ...   ...      ...
96     72700  United States   96    22700  2010    95400
97     50300  United States   97    14500  2010    64800
98     35000  United States   98     8730  2010    43700
99     25200  United States   99     4920  2010    30100
100    51200  United States  100     9570  2010    60800

[505 rows x 6 columns]

In [13]:
with open("population.json", "w") as text_file:
    text_file.write(combined.to_json(orient='records')) ########## saves the file in ROW mode, otherwise would be column mode!!

### [Optional] Dealing with CSV/JSON mixed datasets

In 'data/kickstarter_sample.csv' you'll find the first 100 rows of the kickstarter dataset we all know and love.
Please note, that this particular dataset is a combination of CSV and JSON formats, where the dataset itself is CSV, but few columns have JSON documents as values:

In [14]:
import pandas as pd
kickstarter = pd.read_csv('data/kickstarter_sample.csv')
kickstarter.head()

,id,photo,name,blurb,goal,slug,disable_communication,country,currency,currency_symbol,...,location,category,profile,urls,source_url,friends,is_starred,is_backing,permissions,state
0,663816109,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",Angular - Where Modern Art meets Cards,Angular is a minimalist card design for simpli...,17380.0,angular-where-modern-art-meets-cards,False,US,USD,$,...,"{""country"":""US"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...","{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN,failed
1,1462931821,"{""small"":""https://ksr-ugc.imgix.net/assets/014...",Ladybeard is KAWAII-CORE,Original songs and music videos to jump start ...,24000.0,ladybeard-is-kawaii-core,False,US,USD,$,...,"{""country"":""JP"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...","{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN,failed
2,1724358498,"{""small"":""https://ksr-ugc.imgix.net/assets/011...",Vegan Cafe Delivery Service in Vancouver BC,Our project is to launch a vegan lunch deliver...,40000.0,vegancafeca,False,CA,CAD,$,...,"{""country"":""CA"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...","{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN,failed
3,314918941,"{""small"":""https://ksr-ugc.imgix.net/assets/011...",Photoetched Rail Yard Exposition,I have developed a process of my own which tra...,1000.0,photoetched-rail-yard-exposition,False,US,USD,$,...,"{""country"":""US"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...","{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN,successful
4,1766165140,"{""small"":""https://ksr-ugc.imgix.net/assets/011...",Cinnamon Fletcher needs to be brought to life!,Need to pay an illustrator to bring my childre...,700.0,cinnamon-fletcher-needs-to-be-brought-to-life,False,GB,GBP,Â£,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...","{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN,failed

Remember that we can use json_normalize from pandas to flatten nested JSON structures


(docs: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.io.json.json_normalize.html)

In [15]:
from pandas.io.json import json_normalize
import json

sample_location = '{"country":"US","urls":{"web":{"discover":\
"https://www.kickstarter.com/discover/places/raleigh-nc","location":\
"https://www.kickstarter.com/locations/raleigh-nc"},"api":\
{"nearby_projects":"https://api.kickstarter.com/v1/discover?\
signature=1500237670.62036dae574e222e5bd17f9b995c9865f2834bc7&woe_id=2478307"}},\
"name":"Raleigh","displayable_name":"Raleigh, NC","short_name":"Raleigh, NC",\
"id":2478307,"state":"NC","type":"Town","is_root":false,"slug":"raleigh-nc"}'


json_normalize(json.loads(sample_location))

,country,name,displayable_name,short_name,id,state,type,is_root,slug,urls.web.discover,urls.web.location,urls.api.nearby_projects
0,US,Raleigh,"Raleigh, NC","Raleigh, NC",2478307,NC,Town,False,raleigh-nc,https://www.kickstarter.com/discover/places/ra...,https://www.kickstarter.com/locations/raleigh-nc,https://api.kickstarter.com/v1/discover?signat...

Unfortunately this method does not work on a dataframe, only on a Python dict or list of dicts.
As a useful exercise, try to use json_normalize to normalize the JSON columns of the kickstarter dataframe!

Hints:
* a dataframe column of JSON strings can easily be converted to a list of dicts
* extra columns can always be added to a dataframe if the number of rows match

In [23]:
def normalize_json_column(df, column):
    column_normalized_df = json_normalize(df[column].apply(json.loads))
    column_normalized_df.columns = list(map(lambda x: "{}.{}".format(column,x),column_normalized_df.columns))
    result = pd.concat([df, column_normalized_df], axis=1, sort=False)
    del result[column]
    return result

normalized = normalize_json_column(kickstarter, 'photo')
normalized = normalize_json_column(normalized, 'location')
normalized = normalize_json_column(normalized, 'category')
normalized = normalize_json_column(normalized, 'profile')
normalized = normalize_json_column(normalized, 'urls')
normalized = normalize_json_column(normalized, 'creator')

print(normalized.columns)
normalized.head()

Index(['id', 'name', 'blurb', 'goal', 'slug', 'disable_communication',
       'country', 'currency', 'currency_symbol', 'currency_trailing_code',
       'deadline', 'state_changed_at', 'created_at', 'launched_at',
       'static_usd_rate', 'source_url', 'friends', 'is_starred', 'is_backing',
       'permissions', 'state', 'photo.small', 'photo.thumb', 'photo.1024x576',
       'photo.med', 'photo.key', 'photo.1536x864', 'photo.ed', 'photo.full',
       'photo.little', 'location.country', 'location.name',
       'location.displayable_name', 'location.short_name', 'location.id',
       'location.state', 'location.type', 'location.is_root', 'location.slug',
       'location.urls.web.discover', 'location.urls.web.location',
       'location.urls.api.nearby_projects', 'category.color',
       'category.parent_id', 'category.name', 'category.id',
       'category.position', 'category.slug', 'category.urls.web.discover',
       'profile.background_image_opacity',
       'profile.should_show_feature_image_section', 'profile.link_text_color',
       'profile.state_changed_at', 'profile.blurb', 'profile.background_color',
       'profile.project_id', 'profile.name', 'profile.link_url',
       'profile.show_feature_image', 'profile.id', 'profile.state',
       'profile.text_color', 'profile.link_text',
       'profile.link_background_color',
       'profile.feature_image_attributes.image_urls.default',
       'profile.feature_image_attributes.image_urls.baseball_card',
       'profile.background_image_attributes.image_urls.default',
       'profile.background_image_attributes.image_urls.baseball_card',
       'profile.background_image_attributes.id',
       'profile.feature_image_attributes.id', 'urls.web.project',
       'urls.web.rewards', 'creator.is_registered', 'creator.name',
       'creator.id', 'creator.urls.web.user', 'creator.urls.api.user',
       'creator.avatar.small', 'creator.avatar.thumb', 'creator.avatar.medium',
       'creator.slug'],
      dtype='object')

,id,name,blurb,goal,slug,disable_communication,country,currency,currency_symbol,currency_trailing_code,...,urls.web.rewards,creator.is_registered,creator.name,creator.id,creator.urls.web.user,creator.urls.api.user,creator.avatar.small,creator.avatar.thumb,creator.avatar.medium,creator.slug
0,663816109,Angular - Where Modern Art meets Cards,Angular is a minimalist card design for simpli...,17380.0,angular-where-modern-art-meets-cards,False,US,USD,$,True,...,https://www.kickstarter.com/projects/200609383...,True,Yujian Tang,200609383,https://www.kickstarter.com/profile/200609383,https://api.kickstarter.com/v1/users/200609383...,https://ksr-ugc.imgix.net/assets/009/870/528/9...,https://ksr-ugc.imgix.net/assets/009/870/528/9...,https://ksr-ugc.imgix.net/assets/009/870/528/9...,NaN
1,1462931821,Ladybeard is KAWAII-CORE,Original songs and music videos to jump start ...,24000.0,ladybeard-is-kawaii-core,False,US,USD,$,True,...,https://www.kickstarter.com/projects/117965538...,True,Ladybeard,1179655388,https://www.kickstarter.com/profile/1179655388,https://api.kickstarter.com/v1/users/117965538...,https://ksr-ugc.imgix.net/assets/014/646/683/6...,https://ksr-ugc.imgix.net/assets/014/646/683/6...,https://ksr-ugc.imgix.net/assets/014/646/683/6...,NaN
2,1724358498,Vegan Cafe Delivery Service in Vancouver BC,Our project is to launch a vegan lunch deliver...,40000.0,vegancafeca,False,CA,CAD,$,True,...,https://www.kickstarter.com/projects/207897231...,True,Joel Milne,2078972315,https://www.kickstarter.com/profile/2078972315,https://api.kickstarter.com/v1/users/207897231...,https://ksr-ugc.imgix.net/assets/008/141/822/4...,https://ksr-ugc.imgix.net/assets/008/141/822/4...,https://ksr-ugc.imgix.net/assets/008/141/822/4...,NaN
3,314918941,Photoetched Rail Yard Exposition,I have developed a process of my own which tra...,1000.0,photoetched-rail-yard-exposition,False,US,USD,$,True,...,https://www.kickstarter.com/projects/863236098...,True,Eric Thelander,863236098,https://www.kickstarter.com/profile/863236098,https://api.kickstarter.com/v1/users/863236098...,https://ksr-ugc.imgix.net/assets/007/236/863/f...,https://ksr-ugc.imgix.net/assets/007/236/863/f...,https://ksr-ugc.imgix.net/assets/007/236/863/f...,NaN
4,1766165140,Cinnamon Fletcher needs to be brought to life!,Need to pay an illustrator to bring my childre...,700.0,cinnamon-fletcher-needs-to-be-brought-to-life,False,GB,GBP,Â£,False,...,https://www.kickstarter.com/projects/122628111...,True,Jon Wilkins,1226281117,https://www.kickstarter.com/profile/1226281117,https://api.kickstarter.com/v1/users/122628111...,https://ksr-ugc.imgix.net/assets/007/710/840/2...,https://ksr-ugc.imgix.net/assets/007/710/840/2...,https://ksr-ugc.imgix.net/assets/007/710/840/2...,NaN

### [Optional] Validating JSON Documents

As a last activity we'll write a simple schema validation for the document we have started with:

```
{
   "first-name": "Jason",
   "last-name": "Bourne",
   "age": 32,
   "cities": ["London", "Beirut", "Paris"],  
   "last-activity": "2018-10-115T13:15:33Z"
}
```

Write a schema that successfully validates the above message, so the below snippet can run without an error.

Useful resources to consider:
* http://json-schema.org/
* https://pypi.org/project/jsonschema/

In [28]:
######### to break the code change it to  #######   "age": "old",\  INSTEAD OF "age": 32,\

import json
jason_bourne = json.loads('\
{\
   "first-name": "Jason",\
   "last-name": "Bourne",\
   "age": 32,\
   "cities": ["London", "Beirut", "Paris"],\
   "last-activity": "2018-10-115T13:15:33Z"\
}\
')

schema = ...
#TODO: put your schema here
schema = {
    "type" : "object",
    "properties" : {
        "first-name" : {"type" : "string"},
        "last-name" : {"type" : "string"},
        "age" : {"type" : "number"},
        "cities" : {"type" : "array", "items": {"type": "string"}},
        "last-activity" : {"type" : "string"}
     },
}


from jsonschema import validate
validate(jason_bourne, schema)